/****** Object:  StoredProcedure [dbo].[sp_Actualizar_Puesto_RPA_RRHH]    Script Date: 06/11/2025 00:46:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_Actualizar_Puesto_RPA_RRHH]
    @jsonActualizar NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        ----------------------------------------------------------
        -- 1️⃣ Extraer campos principales del JSON
        ----------------------------------------------------------
        DECLARE 
            @IdPuesto_enc INT,
            @NombrePuesto NVARCHAR(200),
            @Departamento NVARCHAR(100),
            @SalarioMin DECIMAL(18,2),
            @SalarioMax DECIMAL(18,2),
            @Descripcion NVARCHAR(MAX),
            @Vigencia CHAR(1);

        SELECT 
            @IdPuesto_enc = TRY_CAST(JSON_VALUE(@jsonActualizar, '$.IdPuesto_enc') AS INT),
            @NombrePuesto = JSON_VALUE(@jsonActualizar, '$.NombrePuesto'),
            @Departamento = JSON_VALUE(@jsonActualizar, '$.Departamento'),
            @SalarioMin   = TRY_CAST(JSON_VALUE(@jsonActualizar, '$.SalarioMin') AS DECIMAL(18,2)),
            @SalarioMax   = TRY_CAST(JSON_VALUE(@jsonActualizar, '$.SalarioMax') AS DECIMAL(18,2)),
            @Descripcion  = JSON_VALUE(@jsonActualizar, '$.Descripcion'),
            @Vigencia     = JSON_VALUE(@jsonActualizar, '$.Vigencia');

        ----------------------------------------------------------
        -- 2️⃣ Validar existencia del puesto
        ----------------------------------------------------------
        IF NOT EXISTS (SELECT 1 FROM dbo.PuestoTrabajo_enc WHERE IdPuesto_enc = @IdPuesto_enc)
        BEGIN
            THROW 50000, 'El puesto no existe. No se puede actualizar.', 1;
        END;

        ----------------------------------------------------------
        -- 3️⃣ Actualizar encabezado
        ----------------------------------------------------------
        UPDATE dbo.PuestoTrabajo_enc
        SET 
            NombrePuesto = @NombrePuesto,
            Departamento = @Departamento,
            SalarioMin = @SalarioMin,
            SalarioMax = @SalarioMax,
            Descripcion = @Descripcion,
            Vigencia = @Vigencia
        WHERE IdPuesto_enc = @IdPuesto_enc;

        ----------------------------------------------------------
        -- 4️⃣ Eliminar requisitos anteriores y volver a insertar
        ----------------------------------------------------------
        DELETE FROM dbo.puesto_det
        WHERE IdPuesto_enc = @IdPuesto_enc;

        INSERT INTO dbo.puesto_det (IdPuesto_enc, Requisito)
        SELECT 
            @IdPuesto_enc,
            Requisito
        FROM OPENJSON(@jsonActualizar, '$.Requisitos')
        WITH (
            Requisito NVARCHAR(MAX) '$.Requisito'
        );

        ----------------------------------------------------------
        -- 5️⃣ Confirmar y devolver respuesta
        ----------------------------------------------------------
        COMMIT TRANSACTION;

        SELECT 
            'OK' AS Estado,
            @IdPuesto_enc AS IdPuesto_enc,
            @NombrePuesto AS Puesto,
            'Actualizado correctamente' AS Mensaje;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT 
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;
