/****** Object:  StoredProcedure [dbo].[sp_Insertar_Puesto_RPA_RRHH]    Script Date: 06/11/2025 00:47:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_Insertar_Puesto_RPA_RRHH]
    @jsonInsert NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        ----------------------------------------------------------
        -- 1️⃣ Extraer campos del encabezado del JSON
        ----------------------------------------------------------
        DECLARE 
            @NombrePuesto NVARCHAR(200),
            @Departamento NVARCHAR(100),
            @SalarioMin DECIMAL(18,2),
            @SalarioMax DECIMAL(18,2),
            @Descripcion NVARCHAR(MAX),
            @Vigencia CHAR(1);

        SELECT 
            @NombrePuesto = JSON_VALUE(@jsonInsert, '$.NombrePuesto'),
            @Departamento = JSON_VALUE(@jsonInsert, '$.Departamento'),
            @SalarioMin   = TRY_CAST(JSON_VALUE(@jsonInsert, '$.SalarioMin') AS DECIMAL(18,2)),
            @SalarioMax   = TRY_CAST(JSON_VALUE(@jsonInsert, '$.SalarioMax') AS DECIMAL(18,2)),
            @Descripcion  = JSON_VALUE(@jsonInsert, '$.Descripcion'),
            @Vigencia     = JSON_VALUE(@jsonInsert, '$.Vigencia');

        ----------------------------------------------------------
        -- 2️⃣ Insertar encabezado y capturar Id generado
        ----------------------------------------------------------
        DECLARE @IdPuesto_enc INT;

        INSERT INTO PuestoTrabajo_enc (
            NombrePuesto,
            Departamento,
            SalarioMin,
            SalarioMax,
            Descripcion,
            Vigencia
        )
        VALUES (
            @NombrePuesto,
            @Departamento,
            @SalarioMin,
            @SalarioMax,
            @Descripcion,
            @Vigencia
        );

        SET @IdPuesto_enc = SCOPE_IDENTITY();

        ----------------------------------------------------------
        -- 3️⃣ Insertar detalle (Requisitos)
        ----------------------------------------------------------
        INSERT INTO Puesto_det(IdPuesto_enc, Requisito)
        SELECT 
            @IdPuesto_enc,
            Requisito
        FROM OPENJSON(@jsonInsert, '$.Requisitos')
        WITH (
            Requisito NVARCHAR(MAX) '$.Requisito'
        );

        ----------------------------------------------------------
        -- 4️⃣ Confirmar y devolver respuesta
        ----------------------------------------------------------
        COMMIT TRANSACTION;

        SELECT 
            'OK' AS Estado,
            @IdPuesto_enc AS IdPuesto_enc,
            @NombrePuesto AS Puesto,
            'Insertado correctamente' AS Mensaje;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        SELECT 
            'ERROR' AS Estado,
            ERROR_MESSAGE() AS Mensaje;
    END CATCH
END;
