/****** Object:  StoredProcedure [dbo].[sp_sel_rpa_candidato_detalle]    Script Date: 06/11/2025 00:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_sel_rpa_candidato_detalle]
    @IdCandidato INT = NULL,
    @DPI NVARCHAR(20) = NULL,
    @NombreCompleto NVARCHAR(200) = NULL,
    @Telefono NVARCHAR(20) = NULL,
    @Puesto NVARCHAR(150) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------------------------
    -- 🔹 Normalización de nombre (para búsqueda flexible)
    --------------------------------------------------------------------
    DECLARE @NombreFiltro NVARCHAR(200) = LTRIM(RTRIM(LOWER(ISNULL(@NombreCompleto, ''))));
    DECLARE @Palabras TABLE (Palabra NVARCHAR(100));

    IF @NombreFiltro <> ''
    BEGIN
        DECLARE @xml XML = CAST('<i>' + REPLACE(@NombreFiltro, ' ', '</i><i>') + '</i>' AS XML);
        INSERT INTO @Palabras (Palabra)
        SELECT T.N.value('.', 'NVARCHAR(100)')
        FROM @xml.nodes('/i') AS T(N);
    END;

    --------------------------------------------------------------------
    -- 🔹 Consulta principal
    --------------------------------------------------------------------
    SELECT
        c.IdCandidato,
        ISNULL(c.DPI, 'N/A') AS DPI,
        c.NombreCompleto,
        ISNULL(c.Correo, 'Sin correo') AS Correo,
        ISNULL(c.Telefono, 'Sin teléfono') AS Telefono,
        ISNULL(c.Direccion, 'Sin dirección') AS Direccion,
        FORMAT(c.FechaNacimiento, 'dd/MM/yyyy') AS FechaNacimiento,

        ----------------------------------------------------------------
        -- 🧮 Cálculo de edad
        ----------------------------------------------------------------
        CASE 
            WHEN c.FechaNacimiento IS NOT NULL THEN 
                DATEDIFF(YEAR, c.FechaNacimiento, GETDATE()) -
                CASE 
                    WHEN (MONTH(c.FechaNacimiento) > MONTH(GETDATE())) 
                        OR (MONTH(c.FechaNacimiento) = MONTH(GETDATE()) AND DAY(c.FechaNacimiento) > DAY(GETDATE()))
                    THEN 1 ELSE 0 
                END
            ELSE NULL 
        END AS Edad,

        c.Nacionalidad,
        FORMAT(c.FechaRegistro, 'dd/MM/yyyy HH:mm') AS FechaRegistro,
        ISNULL(c.Licencias, 'No especifica') AS Licencias,

        pt.idPuesto_enc AS IdPuesto,
        pt.NombrePuesto AS PuestoAplicado,
        pt.Departamento,
        ISNULL(pt.Descripcion, 'Sin descripción') AS DescripcionPuesto,
        pt.SalarioMin,
        pt.SalarioMax,
        ISNULL(cp.PretensionSalarial, 0) AS PretensionSalarial,

        ----------------------------------------------------------------
        -- 💬 Evaluación interpretativa del salario
        ----------------------------------------------------------------
        CASE 
            WHEN cp.PretensionSalarial = 0 THEN 'No especificó pretensión salarial'
            WHEN cp.PretensionSalarial BETWEEN pt.SalarioMin AND pt.SalarioMax 
                THEN 'Está dentro del rango salarial del puesto'
            WHEN cp.PretensionSalarial < pt.SalarioMin 
                THEN 'Está por debajo del rango salarial del puesto'
            WHEN cp.PretensionSalarial > pt.SalarioMax 
                THEN 'Está por encima del rango salarial del puesto'
            ELSE 'No aplica'
        END AS EvaluacionSalarial,

        FORMAT(cp.FechaAplicacion, 'dd/MM/yyyy HH:mm') AS FechaAplicacion,

        ------------------------------------------------------------------
        -- EXPERIENCIA LABORAL CONSOLIDADA
        ------------------------------------------------------------------
        STUFF((
            SELECT CHAR(13) + CHAR(10) +
                   N'• ' + ISNULL(el.Empresa, '') + 
                   N' (' + ISNULL(CAST(el.AñosExperiencia AS NVARCHAR(10)), '0') + N' años) - ' +
                   ISNULL(ed.Cargo, '') + N' [' +
                   ISNULL(FORMAT(ed.FechaInicio, 'yyyy'), '?') + N' - ' +
                   ISNULL(FORMAT(ed.FechaFin, 'yyyy'), 'Actual') + N'] ' +
                   CHAR(13) + CHAR(10) + N'   ' + ISNULL(ed.Descripcion, '')
            FROM ExperienciaLaboral_enc el
            INNER JOIN ExperienciaLaboral_det ed ON el.idExperiencia_enc = ed.idExperienciaEnc
            WHERE el.idCandidato = c.IdCandidato
            FOR XML PATH(''), TYPE
        ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS ExperienciaLaboral,

        ------------------------------------------------------------------
        -- ESTUDIOS CONSOLIDADOS
        ------------------------------------------------------------------
        STUFF((
            SELECT CHAR(13) + CHAR(10) +
                   N'• ' + ISNULL(er.NombreEstudio, '') + 
                   N' - ' + ISNULL(edet.Institucion, '') +
                   N' [' + ISNULL(FORMAT(edet.FechaInicio, 'yyyy'), '?') + 
                   N' - ' + ISNULL(FORMAT(edet.FechaFin, 'yyyy'), 'Actual') + N']'
            FROM EstudiosRealizados_enc er
            INNER JOIN EstudiosRealizados_det edet 
                ON er.idEstudiosRealizados = edet.idEstudiosRealizados_enc
            WHERE er.idCandidato = c.IdCandidato
            FOR XML PATH(''), TYPE
        ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS Estudios,

        ------------------------------------------------------------------
        -- OTROS CONOCIMIENTOS CONSOLIDADOS
        ------------------------------------------------------------------
        STUFF((
            SELECT CHAR(13) + CHAR(10) +
                   N'• ' + ISNULL(oc.Categoria, '') + 
                   N': ' + ISNULL(od.Nombre, '') +
                   CASE 
                       WHEN ISNULL(CAST(od.AñosExperiencia AS NVARCHAR(10)), '') <> '' 
                           THEN N' [' + CAST(od.AñosExperiencia AS NVARCHAR(10)) + N' años]'
                       ELSE N''
                   END +
                   N' - ' + ISNULL(od.Nivel, '') +
                   N' (' + ISNULL(od.Descripcion, '') + N')'
            FROM OtrosConocimientos_enc oc
            INNER JOIN OtrosConocimientos_det od 
                ON oc.idConocimientoEnc = od.idConocimientoEnc
            WHERE oc.idCandidato = c.IdCandidato
            FOR XML PATH(''), TYPE
        ).value('.', 'NVARCHAR(MAX)'), 1, 2, '') AS Conocimientos,

        ------------------------------------------------------------------
        -- 📋 REQUISITOS DEL PUESTO (texto plano + rango salarial)
        ------------------------------------------------------------------
        (
            'Rango salarial del puesto: Q' + 
            CAST(pt.SalarioMin AS NVARCHAR(10)) + 
            ' a Q' + 
            CAST(pt.SalarioMax AS NVARCHAR(10)) + CHAR(13) + CHAR(10) + 
            '---' + CHAR(13) + CHAR(10) +
            STUFF((
                SELECT CHAR(13) + CHAR(10) + N'• ' + pd.Requisito
                FROM Puesto_det pd
                WHERE pd.idPuesto_enc = pt.idPuesto_enc
                FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)'), 1, 2, '')
        ) AS RequisitosPuesto

    FROM Candidato c
    LEFT JOIN Candidato_Puesto cp ON cp.idCandidato = c.IdCandidato
    LEFT JOIN PuestoTrabajo_enc pt ON pt.idPuesto_enc = cp.idPuesto_enc
    WHERE
        (@IdCandidato IS NULL OR c.IdCandidato = @IdCandidato)
        AND (@DPI IS NULL OR c.DPI = @DPI)
        AND (@Telefono IS NULL OR c.Telefono LIKE '%' + @Telefono + '%')
        AND (@Puesto IS NULL OR LOWER(pt.NombrePuesto) LIKE '%' + LOWER(@Puesto) + '%')
        AND (
             @NombreCompleto IS NULL 
             OR NOT EXISTS (SELECT 1 FROM @Palabras)
             OR EXISTS (
                 SELECT 1 
                 FROM @Palabras p
                 WHERE LOWER(c.NombreCompleto) LIKE '%' + p.Palabra + '%'
             )
        )
    ORDER BY c.FechaRegistro DESC;
END;
